.image {
    width: 40px;
    margin-right: 16px;
    border-radius: 50%;
}

.owner {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    font-size: 22px;
    border-radius: 50%;
}

mat-form-field {
    max-width: 100%;
}

mat-list {
    margin-bottom: 24px;
}

.line {
    max-width: 150px;
}

mat-list-item {
  transition: transform .25s ease-in-out;
}