<div *ngIf="list$ | async as l"> 
    <div class="mat-title">Miembros 👯‍♂️</div>
    <mat-list>
        <mat-list-item>
            <img [src]="l.owner.photoURL" class="image" (error)="showDefaultProfilePic($event)">
            <span class="owner">👑</span>
            <div>
                <span mat-line class="line"><strong>{{l.owner.displayName.split(' ').slice(0, 2).join(' ')}}</strong></span>
                <span mat-line class="line">{{l.owner.email}}</span>
            </div>
        </mat-list-item>
        <mat-list-item *ngFor="let m of l.participants" [id]="m.uid" (swipeleft)="removeParticipant($event, m)" (swiperight)="removeParticipant($event, m)">
            <img [src]="m.photoURL" class="image" (error)="showDefaultProfilePic($event)">
            <div>
                <span mat-line class="line"><strong>{{m.displayName.split(' ').slice(0, 2).join(' ')}}</strong></span>
                <span mat-line class="line">{{m.email}}</span>
            </div>
        </mat-list-item>
    </mat-list>
    
    <mat-form-field appearance="fill" *ngIf="l.owner.uid === (listService.user$ | async)?.uid">
        <mat-label>Nuevo miembro</mat-label>
        <input matInput placeholder="ejemplo@correo.com" [formControl]="emailFormControl">
        <button mat-icon-button matSuffix class="button_color" (click)="addMember()">
            <mat-icon>add_circle</mat-icon>
        </button>
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">El correo no es válido</mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">Este campo es obligatorio</mat-error>
    </mat-form-field>
</div>
