@import 'src/styles.scss';

mat-list-item {
    height: 64px !important;
    margin-bottom: 12px;
}

.list_card {
    height: 100%;
    width: 100%;
}

.list_card_inner {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}

.mat-h3 {
    margin: 0;
    float: left;
}

.icons {
    position: absolute;
    right: 0;
    display: flex;

    mat-icon {
        margin-left: 8px;
    }
}