@import 'src/styles.scss';

.logo {
    width: 75px;
}

.signup_box {
    height: calc(90% - 24px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 24px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 250px;
    padding-bottom: 24px;

    mat-form-field {
        width: 100%;
        margin-bottom: 8px;
    }

    mat-form-field:last-child {
        margin: 0;
    }
}

.two_fields {
    display: flex;

    mat-form-field {
        width: calc(50% - 6px);
        margin-right: 12px;
    }

    mat-form-field:last-child {
        margin: 0;
    }
}

mat-button-toggle-group {
    margin-bottom: calc(1.34375em + 8px);
}

mat-button-toggle {
    width: calc(100%/3);
    background-color: $bright;
    color: $dark;
}

.mat-button-toggle-checked {
    background-color: $color-primary-1;
    color: $bright;
}