<!-- * ------ * -->
<!-- * Header * -->
<!-- * ------ * -->

<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a routerLink="/">Groceries</a>

    <span class="spacer"></span>

    <div *ngIf="auth.user$ | async; then authenticatedMenu; else guestMenu"></div>
  </mat-toolbar-row>
</mat-toolbar>

<ng-template #guestMenu>
  <button mat-raised-button (click)="auth.googleSignin()" >
    Sign In
  </button>
</ng-template>

<ng-template #authenticatedMenu>
  <button mat-button [matMenuTriggerFor]="userMenu" *ngIf="auth.user$ | async as user">
    <img class="menu-user-image" [src]="user.photoURL">
    {{ user.displayName }}
  </button>
  <mat-menu #userMenu="matMenu" xPosition="before">
    <a mat-menu-item routerLink="profile/">
      <mat-icon>person</mat-icon>
      <span>Profile</span>
    </a>
    <mat-divider [inset]="false"></mat-divider>
    <button mat-menu-item (click)="auth.signOut()">
      <mat-icon>exit_to_app</mat-icon>
      <span>Sign Out</span>
    </button>
  </mat-menu>
</ng-template>

<!-- * ------ * -->
<!-- * Router * -->
<!-- * ------ * -->

<router-outlet></router-outlet>
