<div class="body">

  <div class="header">
    <dots-menu [items]="dotsMenuItems"></dots-menu>
    <img class="reduced_logo" src="assets/images/reduced_logo.svg">
  </div>

  <div class="user_info" *ngIf="auth.user$ | async as user">
    <img [src]="user.photoURL">
    <div class="mat-title">{{user.displayName.split(' ').slice(0, 2).join(' ')}}</div>
    <div>Estas son tus listas 👇</div>
  </div>

  <mat-list class="lists_box">
    <list-card *ngFor="let l of listService.lists$ | async" [list]="l"></list-card>
    <div class="add_list">
      <button mat-icon-button (click)="addList()">
        <mat-icon>add_circle</mat-icon>
      </button>
    </div>
  </mat-list>

</div>