<div class="body">

  <div class="header">
    <dots-menu [items]="dotsMenuItems"></dots-menu>
    <img (click)="auth.signOut()" class="logo" src="assets/images/reduced_logo.svg">
  </div>

  <div class="user_info" *ngIf="auth.user$ | async as user">
    <img [src]="user.photoURL">
    <div class="mat-title">{{user.displayName.split(' ').slice(0, 2).join(' ')}}</div>
    <div>Estas son tus listas 👇</div>
  </div>

  <mat-list class="lists_box">
    <mat-list-item *ngFor="let l of lists" style="margin-bottom: 24px;">
      <mat-card class="list_card">
        {{l.name}}
        <div style="float: right;">
          <mat-icon>home</mat-icon>
          <mat-icon>person</mat-icon>
        </div>
      </mat-card>
    </mat-list-item>
  </mat-list>

</div>