@import 'src/styles.scss';

.body {
    display: flex;
    flex-direction: column;
}

.logo {
    position: absolute;
    top: 20px;
    left: 24px;
    width: 34px;
}

.user_info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;

    img {
        width: 140px;    
        border-radius: 50%;
        margin-bottom: 16px;
    }

    .mat-title {
        margin-bottom: 0;
    }
}

.lists_box {
    flex: 1;
    padding: 0 24px;
}

.add_list {
    display: flex;
    justify-content: center;
    align-items: center;

    button {
        line-height: unset !important;
    }

    mat-icon {
        color: $color-primary-3;
    }
}