/* You can add global styles to this file, and also import other style files */

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

mat-toolbar {
	display: flex;
}

.spacer {
	flex: 1 1 auto;
}

.menu-user-image {
	height: 30px;
	border-radius: 15px;
	margin-right: 5px;
}
