html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

$bright: #FFFEF3;
$dark: #000000;

$color-primary-0: #E51B25;	
$color-primary-1: #FB7279;
$color-primary-2: #F14851;
$color-primary-3: #B60A13;
$color-primary-4: #8F0007;

$color-complement-0: #26BF17;
$color-complement-1: #6ED963;
$color-complement-2: #49C93C;
$color-complement-3: #169808;
$color-complement-4: #0B7700;

.body {
    width: 100%;
    height: 100%;
    background-color: $bright;
}
