<div class="body" *ngIf="list | async as l">

    <div class="header">
        <back-arrow></back-arrow>
        <input mat-input class="name_input mat-h2" [(ngModel)]="name" (blur)="updateName()">
        <dots-menu [items]="dotsMenuItems"></dots-menu>
    </div>

    <mat-tab-group mat-stretch-tabs backgroundColor="warn" color="warn" headerPosition="below">
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">speaker_notes</mat-icon>
            </ng-template>
            <div class="tab_container">
                <mat-list class="lists_box">
                    <div *ngFor="let p of l.products">
                        {{p.name}}
                    </div>
                </mat-list>
            </div>
        </mat-tab>

        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">shopping_basket</mat-icon>
            </ng-template>
            <div class="tab_container">
                Content2
            </div>
        </mat-tab>

        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">favorite</mat-icon>
            </ng-template>
            <div class="tab_container">
                Content3
            </div>
        </mat-tab>
    </mat-tab-group>
</div>
