@import 'src/styles.scss';

.body {
    display: flex;
    flex-direction: column;
}

mat-tab-group {
    flex: 1;
    ::ng-deep .mat-tab-body-wrapper {
      height: 100%;
    }
}

.tab_container {
    height: 100%;
}