<div class="body" *ngIf="list | async as l">

    <div class="header">
        <back-arrow></back-arrow>
        <input mat-input class="name_input mat-h2" [(ngModel)]="name" (blur)="updateName()">
        <dots-menu [items]="dotsMenuItems"></dots-menu>
    </div>

    <mat-tab-group mat-stretch-tabs backgroundColor="warn" color="warn" headerPosition="below">
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">speaker_notes</mat-icon>
            </ng-template>
            <div class="tab_container">

                <mat-form-field class="searchbar" appearance="fill">
                    <input type="text" placeholder="Añade un producto" matInput [formControl]="searchbarControl" [matAutocomplete]="auto">
                    <button mat-icon-button matSuffix class="button_color">
                        <mat-icon>add_circle</mat-icon>
                    </button>
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let option of filteredOptions | async; let last = last;" [value]="" (click)="addProduct(option)">
                            <span class="rating">{{option.healthData.rating}}</span>
                            <strong>{{option.name}}</strong>
                            <div class="price">{{option.price}}€</div>
                            <mat-divider *ngIf="!last"></mat-divider>
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>

                <mat-list class="lists_box">
                    <div *ngFor="let p of l.products">
                        <mat-list-item>
                            {{p.name}}
                        </mat-list-item>
                        <mat-divider></mat-divider>
                    </div>
                </mat-list>

            </div>
        </mat-tab>

        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">shopping_basket</mat-icon>
            </ng-template>
            <div class="tab_container">
                Content2
            </div>
        </mat-tab>

        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">favorite</mat-icon>
            </ng-template>
            <div class="tab_container">
                Content3
            </div>
        </mat-tab>
    </mat-tab-group>
</div>