<div class="body" *ngIf="list$ | async as list">

    <div class="header">
        <back-arrow></back-arrow>
        <input mat-input class="editable_input mat-h2" style="text-align: center;" [(ngModel)]="list.name" (blur)="updateList()">
        <dots-menu [items]="dotsMenuItems"></dots-menu>
    </div>

    <mat-tab-group mat-stretch-tabs backgroundColor="warn" color="warn" headerPosition="below">
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">speaker_notes</mat-icon>
            </ng-template>
            <div class="tab_container" style="height: calc(95% - 50px);">

                <mat-form-field class="searchbar" appearance="fill">
                    <input type="text" placeholder="Añade un producto" matInput [formControl]="searchbarControl" [matAutocomplete]="auto">
                    <button mat-icon-button matSuffix disabled style="color: #000000;">
                        <mat-icon (click)="addCustomProduct()">add_circle</mat-icon>
                    </button>
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let o of filteredOptions | async; let last = last;" [value]="" (click)="addProduct(o)">
                            <span class="rating">{{Rating[o.healthData.rating]}}</span>
                            <strong class="name">{{o.name}}</strong>
                            <div class="price">{{o.price}}€</div>
                            <mat-divider *ngIf="!last"></mat-divider>
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>

                <div *ngIf="listProducts.length === 0" class="empty">
                    La lista está vacía 😢
                </div>

                <mat-list class="products_box">
                    <div *ngFor="let p of listProducts" [id]="p.pid" (swipeleft)="deleteProduct($event, p.pid)" (swiperight)="deleteProduct($event, p.pid)" class="product">
                        <mat-list-item>
                            <span mat-line>
                                <strong class="name" style="float: left;">{{p.name}}</strong>
                                <span class="price" style="float: right; font-size: 14px;">{{p.price}}€</span>
                            </span>
                            <span mat-line style="margin-top: 3px;">
                                <input mat-input class="editable_input" [(ngModel)]="p.amount" (blur)="updateList()">
                                <span style="float: right; font-size: 17px;">{{Rating[p.rating]}}</span>
                            </span>
                        </mat-list-item>
                        <mat-divider></mat-divider>
                    </div>
                </mat-list>

            </div>

            <mat-toolbar class="total_price">
                <span>Precio total estimado</span>
                <span class="price_text">{{price}}€</span>
            </mat-toolbar>
        </mat-tab>

        <mat-tab [disabled]="listProducts.length === 0">
            <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon" (click)="checkDisabled()">shopping_basket</mat-icon>
            </ng-template>
            <div class="tab_container">

                <mat-list class="shopping_box">
                    <mat-list-item *ngFor="let p of listProducts" [id]="p.pid" class="product" [ngClass]="{'selected' : p.bought}" (click)="p.bought = !p.bought; updateList()">
                        <button mat-raised-button>
                            <div class="inner">
                                <span class="name">
                                    <span>{{p.name}}</span>
                                    <span style="font-weight: 100;">{{p.amount}}</span>
                                </span>
                                <span class="price">{{p.price}}€</span>
                            </div>
                        </button>
                    </mat-list-item>
                </mat-list>

            </div>
        </mat-tab>

        <mat-tab [disabled]="listProducts.length === 0">
            <ng-template mat-tab-label >
                <mat-icon class="example-tab-icon" (click)="checkDisabled()">favorite</mat-icon>
            </ng-template>
            <div class="tab_container">

                <div class="graph">
                    <canvas baseChart
                        [data]="pieChartData"
                        [labels]="pieChartLabels"
                        [chartType]="'doughnut'"
                        [legend]="true"
                        [options]="pieChartOptions">
                    </canvas>
                </div>

                <mat-divider class="divider"></mat-divider>

                <div class="calories">
                    <div class="chip_box">
                        <span class="chip_label">Total</span>
                        <div class="chip total"><strong>{{calories}}</strong><br>kcal</div>
                    </div>
                    <span class="vs">🔥</span>

                    <div class="chip_box">
                        <span class="chip_label">Tú 🏃‍♂️</span>
                        <div class="chip recommended">
                            <strong>{{yourCalories}}</strong><br><span *ngIf="(auth.user$ | async)?.healthData">kcal/día</span>
                        </div>
                    </div>
                </div>

                <mat-divider class="divider"></mat-divider>

                <mat-list >
                    <div *ngFor="let w of healthWarnings">
                        <mat-list-item class="warning">
                            <div class="icon">⚠️</div>
                            <div class="text">{{w.warning}}</div>
                        </mat-list-item>
                    </div>
                    <div *ngIf="healthWarnings.length === 0">
                        <mat-list-item class="warning">
                            <div class="icon">👌</div>
                            <div class="text">Tu lista está perfecta, bien hecho</div>
                        </mat-list-item>
                    </div>
                </mat-list>

            </div>
        </mat-tab>
    </mat-tab-group>
</div>
